<template>
  <div
    ref="dataColumn"
    v-drag
    class="approxi-slider"
  >
    <div class="approxi-slider__inset">
      <div
        v-if="!showStats"
        class="approxi-slider__track"
      />
      <div
        v-if="showStats"
        class="approxi-slider__bar approxi-slider__bar--others"
        :style="makeBarPositionStyle(mean)"
      />
      <div
        class="approxi-slider__bar approxi-slider__bar--guess"
        :style="makeBarPositionStyle(currentValue)"
      />
      <div
        v-if="showStats"
        class="approxi-slider__bar approxi-slider__bar--answer"
        :style="makeBarPositionStyle(answer)"
      />
      <div
        v-if="showStatsStaticLabels && showStats"
        class="approxi-slider__stats approxi-slider__stats--others"
        :style="makeStatPositionStyle(mean)"
      >
        ∅ Schätzung
      </div>
      <div
        v-if="showStatsStaticLabels && showStats"
        class="approxi-slider__stats approxi-slider__stats--guess"
        :style="makeStatPositionStyle(currentValue)"
      >
        Du
      </div>
      <div
        v-if="showStats"
        class="approxi-slider__stats approxi-slider__stats--answer"
        :style="makeStatPositionStyle(answer)"
      >
        Antwort: {{ formatNumber(answer) }}
      </div>
      <div
        v-if="!showStats"
        :class="['approxi-slider__handle', { 'approxi-slider__handle--active': dragging }]"
        :style="{ left: `${valueToPercent(currentValue)}%` }"
      />
    </div>
  </div>
</template>

<script>
import { scaleLinear } from 'd3-scale';
import debounce from 'lodash/debounce';
import drag from '@/directives/drag.js';

export default {
  name: 'Slider',
  directives: {
    drag
  },
  components: {
  },
  props: {
    enabled: {
      type: Boolean,
      default: true
    },
    answer: {
      type: Number,
      required: true
    },
    mean: {
      type: Number,
      required: true
    },
    value: {
      type: Number,
      default: null
    },
    step: {
      type: Number,
      default: null
    },
    left: {
      type: Number,
      required: true
    },
    right: {
      type: Number,
      required: true
    },
    format: {
      type: Function,
      default() {
        return x => x;
      }
    },
    formatNumber: {
      type: Function,
      default() {
        return x => x;
      }
    },
    showStats: {
      type: Boolean,
      default: false
    },
    showStatsStaticLabels: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      dataColumnWidth: 0,
      dragging: false
    };
  },
  computed: {
    min() {
      return Math.min(this.left, this.right);
    },
    max() {
      return Math.max(this.left, this.right);
    },
    valueToAbsolutePosition() {
      return scaleLinear()
        .domain([this.left, this.right])
        .rangeRound([0, this.dataColumnWidth])
        .clamp(true);
    },
    valueToPercent() {
      return scaleLinear()
        .domain([this.left, this.right])
        .range([0, 100])
        .clamp(true);
    },
    currentValue() {
      return this.value ?? this.defaultValue;
    },
    defaultValue() {
      if (this.min < 0 && this.max > 0) {
        return 0;
      }
      return this.min + 0.1 * Math.abs(this.max - this.min);
    },
    anchorValue() {
      let anchorValue;
      if (this.min <= 0 && this.max >= 0) {
        anchorValue = 0;
      } else if (this.min < 0) {
        anchorValue = this.max;
      } else {
        anchorValue = this.min;
      }
      return anchorValue;
    },
    draggable() {
      return this.enabled && !this.showStats;
    }
  },
  watch: {
    draggable: {
      handler(newVal) {
        if (newVal) {
          this.$on('drag-start', this.dragStart);
          this.$on('drag-start', this.dragMove);
          this.$on('drag-move', this.dragMove);
          this.$on('drag-end', this.dragEnd);
        } else {
          this.$off('drag-start');
          this.$off('drag-move');
          this.$off('drag-end');
        }
      },
      immediate: true
    }
  },
  mounted() {
    const onResize = () => {
      if (!this.$refs.dataColumn) {
        return;
      }
      this.dataColumnWidth = this.$refs.dataColumn.getBoundingClientRect().width;
    };
    this.resize = debounce(onResize, 100);
    this.$on('resize', this.resize);
    window.addEventListener('resize', this.resize, { passive: true });
    onResize();
  },
  beforeDestroy() {
    this.$off('resize');
    window.removeEventListener('resize', this.resize);
  },
  methods: {
    makeBarPositionStyle(value) {
      const x0 = this.valueToPercent(this.anchorValue);
      const x1 = this.valueToPercent(value);
      const left = `${Math.min(x0, x1)}%`;
      const right = `${100 - Math.max(x0, x1)}%`;
      return { left, right };
    },
    makeStatPositionStyle(value) {
      const d = this.valueToPercent(value);
      const [align, pos] = (value >= this.anchorValue) ? ['left', d + 1] : ['right', 100 - d + 1];
      return {
        [align]: `${pos}%`,
        'text-align': align
      };
    },
    dragStart() {
      this.dragging = true;
    },
    dragMove(event) {
      const newValue = this.valueToAbsolutePosition.invert(event.x);
      this.$emit('input', newValue);
    },
    dragEnd(event) {
      let newValue = this.valueToAbsolutePosition.invert(event.x);
      if (this.step) {
        newValue = Math.round(newValue / this.step) * this.step;
        newValue = Math.max(newValue, this.min);
        newValue = Math.min(newValue, this.max);
      }
      this.$emit('input', newValue);
      this.$emit('change', newValue);
      this.dragging = false;
    },
    resize() {}
  }
};
</script>

<style lang="less">
@import '~assets/stylesheets/config/colors';
@import '~assets/stylesheets/config/shadows';

.approxi-slider {
  position: relative;
  width: 100%;
  height: 56px;
  -webkit-touch-callout: none;
  user-select: none;
}

.approxi-slider__inset {
  width: 100%;
  heigt: 56px;
}

.approxi-slider__track {
  position: absolute;
  top: 27px;
  width: 100%;
  height: 2px;
  background-color: @silver;
}

.approxi-slider__bar {
  position: absolute;
  height: 22px;
  min-width: 1px;
  border: 1px solid @white;

  &--guess {
    background-color: @primary-color;
    top: 16px;
  }

  &--others {
    background-color: @inactive-color;
    top: 6px;
  }

  &--answer {
    background-color: @secondary-color;
    top: 29px;
  }
}

.approxi-slider__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  margin-top: 0px;
  margin-left: -28px;
  box-sizing: border-box;
  border: 4px solid @white;
  border-radius: 28px;
  background-color: @primary-color;
  box-shadow: @shadow;

  &--active {
    width: 64px;
    height: 64px;
    margin-top: -4px;
    margin-left: -32px;
    border-radius: 32px;
    box-shadow: @medium-shadow;
  }
}

.approxi-slider__stats {
  position: absolute;
  font-size: 0.875em;
  font-weight: 700;
  text-shadow: 1px 1px 0 @white, -1px -1px 0 @white, 1px -1px 0 @white, -1px 1px 0 @white;

  &--guess {
    top: 8px;
    color: @primary-color;
  }

  &--answer {
    top: 42px;
    color: @secondary-color;
  }

  &--others {
    top: -12px;
    color: @inactive-color;
  }
}
</style>
