<template>
  <div class="approxi-viewer">
    <section
      v-if="normalizedSurvey"
      class="approxi-section"
    >
      <SurveyViewerHeader
        :title="normalizedSurvey.title"
        :alternative-title="tooltip"
        :class="{ 'approxi-header--sticky': stickyHeader }"
      />
      <div class="approxi-grid">
        <div class="approxi-grid__row approxi-grid__row--header">
          <div class="approxi-grid__column approxi-grid__column--label" />
          <div class="approxi-grid__column">
            <div ref="dataColumn" class="approxi-ticks">
              <div class="approxi-ticks approxi-ticks__tick approxi-ticks__tick--min">
                {{ format(normalizedSurvey.range[0]) }}
              </div>
              <div class="approxi-ticks approxi-ticks__tick approxi-ticks__tick--mid" />
              <div class="approxi-ticks approxi-ticks__tick approxi-ticks__tick--max">
                {{ format(normalizedSurvey.range[1]) }}
              </div>
            </div>
          </div>
        </div>
        <template v-for="(value, index) in normalizedSurvey.values">
          <div
            :key="'slider-' + index"
            class="approxi-grid__row approxi-grid__row--data"
          >
            <div class="approxi-grid__column approxi-grid__column--label">
              <p>{{ value.label }}</p>
            </div>
            <div class="approxi-grid__column approxi-grid__column--control">
              <slider
                :value="values[index]"
                :left="normalizedSurvey.range[0]"
                :right="normalizedSurvey.range[1]"
                :step="normalizedSurvey.step"
                :mean="(stats && stats.means) ? stats.means[index] : 0"
                :answer="value.value"
                :format="format"
                :format-number="formatNumber"
                :show-stats="showSolution"
                :show-stats-static-labels="index === 0"
                :enabled="enabled"
                @change="tooltip = null"
                @input="$set(values, index, $event); tooltip = format($event)"
              />
            </div>
          </div>
          <div
            v-if="!!value.note"
            :key="'note' + index"
            class="approxi-grid__row approxi-grid__row--data"
          >
            <div class="approxi-grid__column approxi-grid__column--label">
              <div class="approxi-grid__column--label--decorator" />
            </div>
            <div class="approxi-grid__column approxi-grid__column--control">
              <p>{{ value.note }}</p>
            </div>
          </div>
        </template>
      </div>
      <div v-if="showSolution" class="approxi-viewer__result">
        <div v-if="!!normalizedSurvey.explanation" class="approxi-viewer__result-text">
          {{ normalizedSurvey.explanation }}
        </div>
        <div v-if="!!normalizedSurvey.source" class="approxi-viewer__source">
          <span class="approxi-viewer__source-label">Datenquelle: </span>
          <span class="approxi-viewer__source-text" :inner-html.prop="normalizedSurvey.source | linkify" />
        </div>
      </div>
      <p v-if="showSolution && rankingText">
        {{ rankingText }}
      </p>
      <button
        is="Button"
        v-if="preview"
        :caption="showSolution ? 'Frage anzeigen' : 'Resultat anzeigen'"
        :enabled="enabled && normalizedSurvey.values.length > 0"
        :wide="true"
        @input="$emit('update:showSolution', !showSolution)"
      />
      <button
        is="Button"
        v-else-if="normalizedSurvey.values.length && !showSolution"
        caption="Resultat anzeigen"
        :enabled="enabled && canSolve"
        :wide="true"
        @input="solve"
      />
      <button
        is="Button"
        v-if="showSolution && showNext"
        caption="Nächste Schätzung"
        :enabled="enabled"
        :wide="true"
        @input="$emit('next')"
      />
      <footer v-if="showFooter && !preview" class="approxi-section__footer">
        <b>Hinweis:</b> Bei zweifelhaften Zahlen überprüfe bitte die Quelle. Approxi ist nicht Urheber der Umfragen und nicht für ihren Inhalt verantwortlich. <a :href="`mailto:abuse@${hostname}?subject=Abuse Report ${normalizedSurvey.id}&body=${origin}/a/${normalizedSurvey.id}`">Missbrauch bitte melden.</a>
      </footer>
    </section>
    <section
      v-else-if="!preview"
      class="approxi-section"
    >
      <p>Invalid data</p>
    </section>
  </div>
</template>

<script>
import {
  format as d3Format,
  formatDefaultLocale as d3FormatDefaultLocale
} from 'd3-format';
import bsearch from 'binary-search';
import { compare as mathCompare } from 'mathjs';
import Button from '@/components/Button.vue';
import Slider from '@/components/Slider.vue';
import SurveyViewerHeader from '@/components/SurveyViewerHeader.vue';
import origin from '../mixins/origin';
import surveyUtils from '../mixins/survey-utils';
import { greatestCommonExponent, decimalPlaces } from '../../util/math/decimal';
import residualSumOfSquares from '../../util/math/residual-sum-of-squares';

export default {
  name: 'Viewer',
  components: {
    SurveyViewerHeader,
    Button,
    Slider
  },
  // model: {
  //   prop: 'values'
  // },
  mixins: [
    origin,
    surveyUtils
  ],
  props: {
    survey: {
      type: Object,
      default: () => {},
      validator: value => true
    },
    stats: {
      type: Object,
      default: () => {},
      validator: value => true
    },
    enabled: {
      type: Boolean,
      default: true
    },
    preview: {
      type: Boolean,
      default: false
    },
    showSolution: {
      type: Boolean,
      default: false
    },
    stickyHeader: {
      type: Boolean,
      default: true
    },
    showFooter: {
      type: Boolean,
      default: true
    },
    showNext: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      rss: null,
      solved: false,
      tooltip: null,
      values: []
    };
  },
  computed: {
    formatData() {
      d3FormatDefaultLocale({
        decimal: ',',
        thousands: '.',
        grouping: [3],
        currency: [this.normalizedSurvey.format.prefix, this.normalizedSurvey.format.suffix]
      });
      const precision = decimalPlaces(this.normalizedSurvey.step);
      const type = 'f';
      return { precision, type };
    },
    format() {
      const { precision, type } = this.formatData;
      return d3Format(`$,.${precision}${type}`);
    },
    formatNumber() {
      const { precision, type } = this.formatData;
      return d3Format(`,.${precision}${type}`);
    },
    isValidId() {
      // TODO
      return true;
    },
    isValidTitle() {
      return !!this.survey.title;
    },
    isValidRange() {
      if (this.survey.range?.length !== 2) {
        return false;
      }
      const r0 = this.survey.range[0];
      const r1 = this.survey.range[1];
      return Number.isFinite(r0) && Number.isFinite(r1);
    },
    isValidValues() {
      if (!this.survey.values?.length) {
        return false;
      }
      if (!this.isValidRange) {
        return false;
      }
      const min = Math.min(...this.survey.range);
      const max = Math.max(...this.survey.range);
      if (!this.survey.values.every(({ value }) => {
        return Number.isFinite(value) && value >= min && value <= max;
      })) {
        return false;
      }
      return true;
    },
    isValidSurvey() {
      return this.isValidTitle || this.isValidRange || this.isValidValues;
    },
    normalizedId() {
      return (this.survey.id || '').trim();
    },
    normalizedTitle() {
      // TODO: is isValid... (is required anyway)
      return (this.survey.title || '').trim();
    },
    normalizedExplanation() {
      return (this.survey.explanation || '').trim();
    },
    normalizedSource() {
      return (this.survey.source || '').trim();
    },
    normalizedRange() {
      // TODO: is isValid... (is required anyway)
      return [
        this.survey.range[0],
        this.survey.range[1]
      ];
    },
    normalizedValues() {
      // TODO: is isValid... (is required anyway)
      return (this.survey.values || []).map(({ label, note, value }) => ({
        label: (label || '').trim(),
        note: (note || '').trim(),
        value
      }));
    },
    normalizedFormat() {
      return {
        prefix: ((this.survey.format?.prefix) || '').trimLeft(),
        suffix: ((this.survey.format?.suffix) || '').trimRight()
      };
    },
    normalizedStep() {
      let step;
      if (this.survey.step) {
        const maxStep = Math.abs(this.normalizedRange[0] - this.normalizedRange[1]);
        step = Math.min(this.survey.step, maxStep);
      } else {
        const anchor = this.anchorBound(this.normalizedRange);
        step = 10 ** greatestCommonExponent(this.normalizedValues.map(({ value }) => value - anchor)) || 1;
      }
      return step;
    },
    normalizedSurvey() {
      if (!this.isValidSurvey) {
        return null;
      }
      return {
        explanation: this.normalizedExplanation,
        format: this.normalizedFormat,
        id: this.normalizedId,
        source: this.normalizedSource,
        range: this.normalizedRange,
        step: this.normalizedStep,
        title: this.normalizedTitle,
        values: this.normalizedValues
      };
    },
    rankingText() {
      if (this.rss === null || !this.stats) {
        return null;
      }
      const stats = this.stats;
      const count = stats.count;
      const topLength = stats.rssTop.length;
      if (count <= 1) {
        return null;
      } else if (count <= 100) {
        const index = bsearch(stats.rssTop, this.rss, (a, b) => mathCompare(a, b));
        if (index === 0) {
          return `Die beste von ${topLength} unterschiedlichen Schätzungen!`;
        } else if (index > 0) {
          return `Platz ${index + 1} von ${topLength} unterschiedlichen Schätzungen!`;
        } else {
          return null;
        }
      } else {
        const pSpan = 100 / (stats.rssPercentiles.length + 1);
        const pIndex = stats.rssPercentiles.findIndex((value, index) => {
          return mathCompare(value, this.rss) > 0;
        });
        if (pIndex < 0) {
          return null;
        } else if (pIndex === 0) {
          return `Unter den ${pSpan} % besten von ${count} Schätzungen!`;
        } else {
          return `Rund ${pIndex * pSpan} % von ${count} schätzten besser!`;
        }
      }
    },
    canSolve() {
      if (!this.values || !this.normalizedSurvey?.values) {
        return false;
      }
      return (this.values.length === this.normalizedSurvey.values.length) && this.values.every(Number.isFinite);
    }
  },
  watch: {
    survey: {
      handler(newValue) {
        this.solved = false;
        this.rss = null;
        this.tooltip = null;
        this.values = (new Array(newValue.values.length)).fill();
      },
      deep: true
    }
  },
  methods: {
    solve() {
      if (this.solved || !this.canSolve) {
        return;
      }
      const surveyValues = this.normalizedSurvey.values.map(({ value }) => value);
      this.rss = residualSumOfSquares(surveyValues, this.values);
      this.solved = true;
      this.$emit('input', this.values);
    }
  }
};
</script>

<style lang="less">
@import '~assets/stylesheets/config/colors';

.approxi-viewer {
  font-size: 1rem;
  line-height: 1.5;
  color: @text-color;
  text-rendering: optimizeLegibility;
}

.approxi-ticks {
  display: flex;
  width: auto;
  flex: row nowrap;
  justify-content: space-between;
  padding: 1em 0 0.5em;

  &__tick--min {
    padding-left: 0.5em;
  }

  &__tick--max {
    padding-right: 1.2em;
  }
}

.approxi-viewer__result {
    margin: 2em 0.5em;
    line-height: 1.4;
}

.approxi-viewer__result-text {
  margin: 1em 0;
}

.approxi-viewer__source-label {
  font-weight: bold;
}

.approxi-viewer__source-link {
  color: @silver;

  &:hover {
    color: @blue;
  }
}

.approxi-grid {
  display: table;
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

.approxi-grid__row {
  display: table-row;
  width: 100%;
}

.approxi-grid__column {
  display: table-cell;
  vertical-align: top;

  &--label {
    width: 1%;
    padding-top: 1.1em;
    text-align: right;

    p {
      margin: 0;
    }

    &--decorator {
      display: block;
      content: ' ';
      width: 50%;
      height: 1em;
      margin-top: -1.6em;
      margin-left: auto;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
  }

  &--control {
    width: 99%;
    padding: 0 1.2em 0.9em 0.5em;
    hyphens: auto;

    p {
      line-height: 1.4;
      margin: 0;
    }
  }

  &--description {
    padding-right: 0;
    color: @silver;
  }

  &--single {
    width: 100%;
    padding-left: 0.5em;
  }
}
</style>
