<template>
  <div id="app">
    <nuxt />
    <p class="approxi-promotion">
      <nuxt-link
        v-if="$route.name === 'a-id'"
        to="/new"
        class="approxi-promotion__link"
      >
        Erstelle mit Approxi deine eigene Umfrage!
      </nuxt-link>
    </p>
  </div>
</template>

<style lang="less">
@import '~assets/stylesheets/config/colors';

.approxi-promotion {
  text-align: center;
  font-size: 0.8em;

  &__link {
    font-weight: bold;
    color: @secondary-color;
  }
}
</style>
