<template>
  <div>
    <survey-editor
      v-if="!lastSavedId"
      :enabled="!loading"
      @input="submit"
    />
    <section
      v-if="lastSavedId"
      class="approxi-section"
    >
      <h3>Gespeichert! Deine Umfrage ist jetzt erreichbar unter:</h3>
      <nuxt-link
        :to="`/a/${lastSavedId}`"
        class="approxi-create__survey-link"
        target="_blank"
      >
        {{ origin() }}/a/<span class="approxi-create__survey-link__id">{{ lastSavedId }}</span>
      </nuxt-link>
      <button
        is="Button"
        caption="Nächste Umfrage erstellen"
        :wide="true"
        @input="reset"
      />
    </section>
    <section
      v-if="createdSurveys.length"
      class="approxi-section"
    >
      <h3 style="margin-top: 0">
        Deine Umfragen:
      </h3>
      <ul>
        <li
          v-for="survey in createdSurveys"
          :key="survey.id"
        >
          <nuxt-link
            target="_blank"
            :to="`/a/${survey.id}`"
          >
            {{ survey.title }}
          </nuxt-link>
        </li>
      </ul>
    </section>
    <section
      v-if="createdSurveys.length"
      class="approxi-section"
    >
      <h3 style="margin-top: 0">
        Verknüpfe deine Umfragen einfach mit folgendem Link-Schema:
      </h3>
      <nuxt-link
        :to="`/a/${createdSurveys.map(s => s.id).join(',')}`"
        class="approxi-create__survey-link"
        target="_blank"
      >
        {{ origin() }}/a/
        <template v-for="survey in createdSurveys">
          <span
            :key="`id-${survey.id}`"
            class="approxi-create__survey-link__id"
          >
            {{ survey.id }}
          </span>
          <span
            :key="`sep-${survey.id}`"
            class="approxi-create__survey-link__separator"
          >
            ,
          </span>
        </template>
        <span class="approxi-create__survey-link__id approxi-create__survey-link__id--next">
          nächste ID
        </span>
      </nuxt-link>
    </section>
  </div>
</template>

<script>
import Button from '@/components/Button.vue';
import SurveyEditor from '@/components/SurveyEditor.vue';
import origin from '../mixins/origin';

export default {
  components: {
    Button,
    SurveyEditor
  },
  mixins: [
    origin
  ],
  data() {
    return {
      createdSurveys: [],
      loading: false,
      lastSavedId: null
    };
  },
  methods: {
    async submit(survey, reset) {
      this.loading = true;
      try {
        const { id } = await this.$axios.$post('surveys', survey);
        if (id) {
          this.createdSurveys.push({ ...survey, id });
          this.lastSavedId = id;
        }
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    },
    reset() {
      this.lastSavedId = null;
      scrollTo(0, 0);
    }
  },
  head() {
    return {
      title: '(New)'
    };
  }
};
</script>

<style lang="less">
@import '~assets/stylesheets/config/colors';

.approxi-create__survey-link {
  display: flex;
  flex-wrap: wrap;

  &__id {
    color: @secondary-color;

    &--next {
      margin-left: 0.25em;
      font-style: italic;
      color: @inactive-color;
    }
  }

  &__separator {
    color: @inactive-color;
  }
}
</style>
