<template>
  <SurveyViewer
    :survey="survey"
    :stats="stats"
    :enabled="!loading"
    :show-next="playlist && playlist.length > 0"
    :show-solution="submitted && !!stats"
    :sticky-header="true"
    :show-footer="true"
    @input="submit"
    @next="loadNext"
  />
</template>

<script>
import io from 'socket.io-client';
import SurveyViewer from '@/components/SurveyViewer.vue';

const ID_FORMAT = process.env.DATABASE_PRIMARY_KEY_FORMAT;
const ID_SEPARATOR = ',';
const ID_LIST_REGEX = new RegExp(`^${ID_FORMAT}(?:${ID_SEPARATOR}${ID_FORMAT})*$`);

export default {
  components: {
    SurveyViewer
  },
  validate({ params: { id } }) {
    return ID_LIST_REGEX.test(id);
  },
  layout: 'a-id',
  async asyncData({ $axios, params: { id } }) {
    const [sid, ...playlist] = id.split(ID_SEPARATOR).filter(x => x.length);
    let survey;
    try {
      survey = await $axios.$get(`surveys/${sid}`);
    } catch (error) {
      if (process.client) {
        console.error(error);
      }
    }
    return {
      survey,
      playlist
    };
  },
  data() {
    return {
      survey: null,
      loading: false,
      playlist: null,
      socket: null,
      stats: null,
      submitted: false
    };
  },
  beforeRouteUpdate(to, from, next) {
    this.disconnectSocket();
    next();
  },
  beforeRouteLeave(to, from, next) {
    this.disconnectSocket();
    next();
  },
  mounted() {
    const [hidden, visibilityChange] =
      typeof document.hidden !== 'undefined' ? ['hidden', 'visibilitychange']
        : typeof document.msHidden !== 'undefined' ? ['msHidden', 'msvisibilitychange']
          : typeof document.webkitHidden !== 'undefined' ? ['webkitHidden', 'webkitvisibilitychange']
            : [];
    if (hidden && visibilityChange) {
      document.addEventListener(visibilityChange, () => {
        if (document[hidden]) {
          this.disconnectSocket();
        } else {
          this.connectSocket();
        }
      }, false);
    }
  },
  methods: {
    deactivated() {
      this.disconnectSocket();
    },
    beforeDestroy() {
      this.disconnectSocket();
    },
    connectSocket() {
      if (this.survey && this.submitted) {
        this.socket = io('/surveys/stats', { transports: ['websocket'] });
        // on reconnection, reset the transports option, as the Websocket
        // connection may have failed (caused by proxy, firewall, browser, ...)
        this.socket.on('reconnect_attempt', () => {
          this.socket.io.opts.transports = ['polling', 'websocket'];
        });
        this.socket.on('connect', () => {
          this.socket.emit('join', this.survey.id, stats => {
            this.stats = stats;
          });
        });
        this.socket.on('change', stats => {
          this.stats = stats;
        });
      }
    },
    disconnectSocket() {
      // eslint-disable-next-line no-unused-expressions
      this.socket?.close();
      this.socket = null;
    },
    async loadNext() {
      if (!this.playlist.length) {
        return;
      }
      const sid = this.playlist.shift();
      this.disconnectSocket();
      this.loading = true;
      try {
        this.survey = await this.$axios.$get(`surveys/${sid}`);
        this.submitted = false;
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    },
    async submit(values) {
      this.loading = true;
      try {
        await this.$axios.$post(`surveys/${this.survey.id}/feed`, {
          id: this.survey.id,
          values
        });
        this.submitted = true;
        this.connectSocket();
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
    }
  },
  head() {
    return {
      title: this.survey.title
    };
  }
};
</script>
